:root {
 --site-blue: #0B2454;
}

.topLogo {
  width: 150px;
}

.bottomImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.certified {
  width: 250px;
}

.logoWhiteBG {
  width: 250px;
}

.site-links {
  color: #f7910c;
}

.site-links:hover {
  font-weight: bold;
  padding-left: 10px;
}

