:root {
 --site-blue: #0B2454;
}

@font-face {
  font-family: 'amsterdamtwo_ttf';
  src: url('./fonts/amsterdam-two-ttf-webfont.woff2') format('woff2'),
       url('./fonts/amsterdam-two-ttf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* SITE NAVBAR */
.navbar {
  background-color: var(--site-blue);
  height: 40px;
}

/* body {
  background-color: #282c34;
  color: white;
} */

header {
  background-color: #0B2454;
}

.grid-item {
  border: 0;
}

.h-text {
  font-family: "amsterdamtwo_ttf", sans-serif, arial;
  color: #0B2454;
}

.p-text {
  color: #0B2454;
}

